﻿@model WebRental.Models.Movie
<h2>@Model.Name</h2>
<li>Genre: @Model.Genre.Name</li>
<li>Release Date: @Model.ReleasedDate.ToLongDateString()</li>
<li>Date Added: @Model.ReleasedDate.ToLongDateString()</li>
<li>Number in Stock: @Model.NumerInStock</li>
