﻿@model WebRental.Models.Costumer
<h2>@Model.Name</h2>
<li>Membership Type:@Model.MembershipType.Name</li>
@if (Model.BirthDate.HasValue)
{
<li>Birthdate:@Model.BirthDate.Value.Day/@Model.BirthDate.Value.Month/@Model.BirthDate.Value.Year</li>
}
